$primary-color: #e6254a;
$primary-active-color: #c4173a;
$primary-black-color: #2d2d2d;
$primary-light-gray-color: #f5f5f5;
$primary-gray-color: #b9b9b9;
$primary-dark-gray-color: #3b3b3b;
$secondary-color: #25e6c6;
$secondary-dark-color: #1a8a77;
$primary-light-color: rgb(241, 241, 232);
$primary-radius: 10px;
$primary-min-radius: 3px;
