@import "../variables";

.global-page {
    display: flex;
    height: 100vh;
    .left-bar {
        min-width: 50px;

        .left-bar-in {
            border-right: 1px solid rgba(0, 0, 0, 0.1);
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
            position: fixed;
            background-color: white;
            z-index: 10000;
            top: 0;
            left: 0;
            min-width: 50px;
            bottom: 0;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: stretch;
            .bar {
                img {
                    height: 40px;
                    width: 40px;
                    display: table;
                    margin: 15px auto;
                    border-radius: 100%;
                }
                border-bottom: 1px solid rgba(0, 0, 0, 0.1);
            }
            .item {
                position: relative;
                i {
                    line-height: 40px;
                    width: 100%;
                    display: table;
                    text-align: center;
                    color: $primary-dark-gray-color;
                    font-size: 16px;
                    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
                }
                .text {
                    height: auto;
                    position: absolute;
                    top: -1px;
                    left: 100%;

                    line-height: 20px;
                    background-color: white;
                    border: 1px solid $primary-light-gray-color;

                    border-top-right-radius: $primary-radius;
                    border-bottom-right-radius: $primary-radius;
                    opacity: 0;
                    font-size: 12px;
                    transition: 0.2s;
                    color: $primary-dark-gray-color;
                    div {
                        margin: 10px 0;
                    }
                }
            }
            .item:hover {
                .text {
                    display: inline-block;
                    padding: 0 20px;
                    opacity: 1;
                    transition: 0.2s;
                }
            }
        }
    }
    .normal-page {
        width: 100%;
        .sidepanel {
            margin-left: 50px;
        }
    }
}
