@import "../_variables";

.list-nav-menu {
    background-color: $primary-light-color;
    padding-top: 55px;
    padding-bottom: 25px;

    .list-nav-menu-in {
        .catagory-item {
            a {
                display: table;
                text-decoration: none;
                padding: 10px 15px;
                background-color: white;

                border-radius: $primary-radius;
                color: rgb(128, 128, 128);
            }
        }
    }
}

.list-in-header {
    padding: 20px 0;
    .in-header {
        h1 {
            padding: 0;
            margin: 0;
        }
    }
    .in-settings {
    }
}

.catagory-header {
    .catagory-header-in {
        padding-top: 50px;
        padding-bottom: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: white;
        img {
            width: 120px;
            margin-right: 40px;
        }
        div {
        }
    }
}

.list-setting {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    .dropdown {
        button {
            position: relative;
            display: inline-block;
            border: 0;
            padding: 10px 20px;
            box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
            margin: 30px 10px 10px 0;
            border-radius: $primary-radius;
            cursor: pointer;
            background-color: white;
            font-weight: bold;
            color: rgb(50, 50, 50);
            i {
                padding-left: 7px;
            }
        }
    }

    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f1f1f1;
        min-width: 160px;
        overflow: auto;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
    }

    .show {
        display: block;
    }
}

.lessons {
    .item {
        border-radius: $primary-radius;
        overflow: hidden;
        margin: 10px 0px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        position: relative;
        .lesson-catagory {
            background-color: $secondary-color;
            position: absolute;
            top: 0;
            right: 0;
            margin: 15px;
            padding: 5px 15px;
            font-size: 14px;
            color: rgba(0, 0, 0, 0.5);
            border-radius: $primary-radius;
        }
        img.lesson-iamge {
            height: 150px;
            object-fit: cover;
            width: 100%;
        }
        h1 {
            margin: 10px 20px;
            font-size: 18px;
            color: rgb(99, 99, 99);
            font-weight: normal;
        }
        .lesson-teacher {
            padding: 20px 20px 10px 20px;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            img {
                width: 40px;
                height: 40px;
                object-fit: cover;
                border-radius: 100%;
            }
            p {
                margin: 10px;
            }
        }
        .footer {
            border-top: 1px solid rgba(0, 0, 0, 0.1);
            padding: 10px 20px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            .footer-info {
                display: flex;
                align-items: center;
                justify-content: space-between;
                .info-item {
                    padding: 0 5px;
                }
            }
            .price {
                span {
                    color: $secondary-dark-color;
                }
            }
        }
    }
}
