@import "../_variables";

.teacher-section {
    padding: 20px 0;
    background-color: $primary-light-color;

    .teacher-slider {
        .item {
            background-color: white;
            border-radius: $primary-radius;
            overflow: hidden;
            margin: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            h1 {
                margin: 10px 20px 0 20px;
                font-size: 20px;
            }
            p {
                margin: 0 20px 10px 20px;
                color: rgb(99, 99, 99);
            }
        }
    }
}
